<!DOCTYPE html>
<!-- xmlns:sec  -  para W con spring security en thymeleaf -->
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:fragment="head">
    <meta charset="UTF-8" />

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

    <!-- JQuery  -->
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
    <link rel="icon" href="#" />

    <title
      th:text="${title} + ' | Spring Boot: MVC + Thymeleaf + Data JPA'"
    ></title>
  </head>
  <body>
    <header th:fragment="header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
        <a class="navbar-brand" th:href="@{/}">Spring Boot</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse d-flex justify-content-between"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/listar}">Clientes</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li sec:authorize="!isAuthenticated()">
              <a th:href="@{/login}" class="btn btn-outline-primary">Sign In</a>
            </li>
            <li class="dropdown" sec:authorize="isAuthenticated()">
              <a
                class="btn btn-secondary dropdown-toggle px-3"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                sec:authentication="name"
                style="text-transform: capitalize"
              >
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <!-- log out con token csrf de forma segura -->
                <form id="logoutForm" th:action="@{/logout}" method="post">
                  <button
                    onclick="document.querySelector('#logoutForm').submit();"
                    type="submit"
                    class="dropdown-item"
                  >
                    Sign Out
                  </button>
                </form>
              </ul>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Flash message - duran 1 request -->
      <div
        class="alert alert-success"
        th:if="${success != null}"
        th:text="${success}"
      ></div>
      <div
        class="alert alert-danger"
        th:if="${error != null}"
        th:text="${error}"
      ></div>
      <div
        class="alert alert-warning"
        th:if="${warning != null}"
        th:text="${warning}"
      ></div>
      <div
        class="alert alert-info"
        th:if="${info != null}"
        th:text="${info}"
      ></div>
    </header>

    <div class="container"></div>

    <footer th:fragment="footer" class="container">
      <hr />
      <img th:src="@{/images/spring.png}" alt="Spring logo" />

      <!-- Lo muestra solo SI esta Auth -->
      <p sec:authorize="isAuthenticated()" style="margin-top: 1rem">
        Logged user:
        <span
          sec:authentication="name"
          style="text-transform: capitalize"
        ></span>
        | Roles: <span sec:authentication="principal.authorities"></span>
      </p>
      <p>
        Powered by
        <a
          href="https://projects.spring.io/spring-boot/"
          rel="noreferrer"
          target="_blank"
          >Spring Boot</a
        >
        y
        <a href="http://www.thymeleaf.org" rel="noreferrer" target="_blank"
          >Thymeleaf</a
        >.
      </p>
      <p id="copy"></p>

      <!-- JavaScript -->
      <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

      <!-- JQuery CDN -->
      <script
        src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous"
      ></script>
      <script
        src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
        integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
        crossorigin="anonymous"
      ></script>

      <script th:src="@{/js/index.js}"></script>
    </footer>
  </body>
</html>
