<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="layout/layout :: head"></head>
  <body>
    <!-- header fragment -->
    <header th:replace="layout/layout :: header"></header>

    <div class="container my-5 py-4">
      <div class="card">
        <div class="card-header"><h1 th:text="${title}"></h1></div>

        <div class="card-body">
          <a
            sec:authorize="hasRole('ROLE_ADMIN')"
            th:href="@{/form}"
            class="btn btn-primary btn-xs mt-2 mb-4"
            >Crear client [+]</a
          >
          
          <!-- CSV: href= ver() del controller Client, format como el data type en la Class ClientCsvView -->
          <a
            th:href="@{'/listar'(format=csv)}"
            class="btn btn-success btn-xs mt-2 mb-4"
            >CSV</a
          >

          <!-- XML -->
          <a
            th:href="@{'/listar'(format=xml)}"
            class="btn btn-outline-info btn-xs mt-2 mb-4"
            >XML</a
          >

          <!-- JSON -->
          <a
            th:href="@{'/listar'(format=json)}"
            class="btn btn-outline-warning btn-xs mt-2 mb-4"
            >JSON</a
          >

          <table class="table table-striped">
            <thead class="table-dark">
              <tr>
                <!-- Multilanguage:  th:text="#{text.client.createdAt}" toma los idiomas del message_somethin.properties -->
                <th sec:authorize="hasRole('ROLE_USER')">id</th>
                <th th:text="#{text.client.name}">name</th>
                <th th:text="#{text.client.lastname}">lastname</th>
                <th th:text="#{text.client.email}">email</th>
                <th th:text="#{text.client.createdAt}">created at</th>
                <th
                  sec:authorize="hasRole('ROLE_ADMIN')"
                  th:text="#{text.client.createInvoice}"
                >
                  create invoice
                </th>
                <th
                  sec:authorize="hasRole('ROLE_ADMIN')"
                  th:text="#{text.client.update}"
                >
                  update
                </th>
                <th
                  sec:authorize="hasRole('ROLE_ADMIN')"
                  th:text="#{text.client.delete}"
                >
                  delete
                </th>
              </tr>
            </thead>
            <tbody>
              <!-- client.id  gracias al  getId() -->
              <tr th:each="client: ${clients}">
                <td sec:authorize="hasRole('ROLE_USER')">
                  <a
                    th:href="@{/ver/} + ${client.id}"
                    th:text="${client.id}"
                    class="btn btn-secondary btn-xs"
                  ></a>
                </td>

                <td th:text="${client.name}"></td>
                <td th:text="${client.lastname}"></td>
                <td th:text="${client.email}"></td>
                <td th:text="${client.createdAt}"></td>

                <!-- Add new invoice -->
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                  <a
                    th:href="@{/invoice/form/} + ${client.id}"
                    class="btn btn-light btn-xs border"
                    >Create invoice</a
                  >
                </td>

                <!-- update -->
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                  <a
                    th:href="@{/form/} + ${client.id}"
                    class="btn btn-success btn-xs"
                    >Update</a
                  >
                </td>

                <!-- delete -->
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                  <a
                    th:href="@{/delete/} + ${client.id}"
                    class="btn btn-danger btn-xs"
                    onclick="return confirm('Esta seguro de querer eliminar?')"
                    >Delete</a
                  >
                </td>
              </tr>
            </tbody>
          </table>

          <!-- pagination -->
          <nav th:replace="paginator-nav :: paginator"></nav>
        </div>
      </div>
    </div>

    <!-- footer fragment -->
    <footer th:replace="layout/layout :: footer"></footer>
  </body>
</html>
